:root {
  /* ----------Fonts---------------- */
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /*----------- Color-text---------- */
  --primary-text-color: #434455;
  --secondary-text-color: #2e2f42;

  --logo-color-first: #4d5ae5;
  --logo-color-header-last: #2e2f42;
  --logo-color-footer-last: #f4f4fd;

  --color-menu-link: #2e2f42;
  --accent-color-menu-link: #404bbf;
  --color-address-link: #434455;
  --accent-color-address-link: #404bbf;

  --hero-title-text-color: #ffffff;
  --hero-btn-text-color: #ffffff;

  --service-btn-text-color: #4d5ae5;
  --service-btn-text-accent-color: #ffffff;

  --color-footer-description: #f4f4fd;

  /* -----------Background color -----------*/
  --background-color-body: #ffffff;

  --background-color-hero: #2e2f42;
  --background-color-hero-btn: #4d5ae5;
  --accent-background-color-hero-btn: #404bbf;

  --background-color-team-section: #f4f4fd;
  --background-color-team-list-item: #ffffff;

  --background-color-service-btn: #f4f4fd;
  --accent-background-color-service-btn: #404bbf;

  --background-color-footer: #2e2f42;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
body {
  font-family: var(--primary-font);
  color: var(--primary-text-color);
  background-color: var(--background-color-body);
}
/* -------------Components----------- */
.logo {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color-first);
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-text-color);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* -------------/Components---------- */

/* <!---------- HEADER -----------> */
.logo-color-header {
  color: var(--logo-color-header-last);
}
.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-menu-link);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color-menu-link);
}
.address {
  font-style: normal;
}
.address-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-address-link);
}
.address-link:hover,
.address-link:focus {
  color: var(--accent-color-address-link);
}
/* <!---------- /HEADER -----------> */

/* <!----------- HERO ------------> */
.hero {
  background-color: var(--background-color-hero);
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--hero-title-text-color);
}
.hero-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--hero-btn-text-color);
  background-color: var(--background-color-hero-btn);
  cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--accent-background-color-hero-btn);
}
/* <!----------- /HERO ------------> */

/* -------Company philosophy --------*/
.features-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.features-item-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* -------/Company philosophy -------*/

/* -----------Projects --------------*/

/* -----------/Projects --------------*/

/* ------------Team ------------------*/
.team {
  background-color: var(--background-color-team-section);
}
.team-list-item {
  background-color: var(--background-color-team-list-item);
}
.team-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.team-item-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
}
/* ------------/Team ----------------*/

/* -----Portfolio. Our services -----*/
.service-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--service-btn-text-color);
  background-color: var(--background-color-service-btn);
  cursor: pointer;
}
.service-btn:hover,
.service-btn:focus {
  color: var(--service-btn-text-accent-color);
  background-color: var(--accent-background-color-service-btn);
}
.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.portfolio-item-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

/* -----/Portfolio. Our services ----*/

/* -------------Footer --------------*/
.footer {
  background-color: var(--background-color-footer);
}
.logo-color-footer {
  color: var(--logo-color-footer-last);
}
.footer-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-footer-description);
}
/* -------------/Footer -------------*/
